# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\PH\IdeaProjects\nix\alevel-java-nix\alevel-courses\smartfoxprotest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/target
/smartfoxprotest.iml
/.idea